@model IEnumerable<E_GUNLUK.Models.Note>

@{
    ViewBag.Title = "Index";
}


@foreach (var item in Model)
{
    <div class="tc-ch">
        <div class="tch-img">
            <a href="#"><img src="~/Content/images/1.jpg" class="img-responsive" alt="" /></a>
        </div>
        <a class="blog blue" href="#">Technology</a>
        <h3><a href="/Notes/Details/@item.NoteId">@Html.DisplayFor(modelItem => item.Title)</a></h3> 

        <p>
            @Html.DisplayFor(modelItem => item.NoteText)
        </p>
        <div class="blog-poast-info">
            <ul>
                <li><i class="glyphicon glyphicon-user"> @Html.DisplayFor(modelItem=> item.NoteTaker.LastName) </i>                   
                </li>
                <li><i class="glyphicon glyphicon-calendar"> </i>@item.NoteDate</li>
                <li><i class="glyphicon glyphicon-comment"> </i><a class="p-blog" href="#">n Comments </a></li>
                <li><i class="glyphicon glyphicon-eye-open">Privacy: @Html.DisplayFor(modelItem => item.PubOrPvt)</i></li>
                <li><i class="glyphicon glyphicon-heart"> </i><a class="admin" href="#">n favourites </a></li>
            </ul>
        </div>

    </div>
}
<hr />

