@model E_GUNLUK.Models.Note

@{
    ViewBag.Title = "Details";
}

<div>

    

            <h2>@Html.DisplayFor(model => model.Title)</h2>
    <hr />
            <span class="glyphicon-time">@Html.DisplayFor(model => model.NoteDate)</span>
            <p>@Html.DisplayFor(model => model.NoteText)</p>
            <span>Privacy: @Html.DisplayFor(model => model.PubOrPvt)</span>
           
    <hr />

    @Html.Action("Like", "Likes", new { id = Model.NoteId })


    <h4>
        Comments
    </h4>
<div>
    @Html.Action("Comment", "Comments", new { id = Model.NoteId })
    @Html.Action("CommentsList", "Comments", new { id = Model.NoteId })


</div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NoteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>





