@model E_GUNLUK.Models.Note

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Note</h4>
    <hr />

            <h2>@Html.DisplayFor(model => model.Title)</h2>
            <span class="glyphicon-time">@Html.DisplayFor(model => model.NoteDate)</span>
            <p>@Html.DisplayFor(model => model.NoteText)</p>
            <span>Privacy: @Html.DisplayFor(model => model.PubOrPvt)</span>
           
    <hr />


    <h4>
        Comments
    </h4>
<div>
    @Html.Action("Comment", "Notes", new { id = Model.NoteId })
    @Html.Action("CommentsList", "Notes", new { id = Model.NoteId })


</div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NoteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>





